*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

#board{
    position: relative;
    margin: auto;
    margin-top: 80px;
}

.block {
    position: absolute;
    background-size: cover;
    }

#paddle{
    position: absolute; 
    background-size: cover;
    width: 0;
    height: 0;
}

#paddle img{
    width: 100%;
    height: 100%;
}

#ball{
    position: absolute;
    background-image: url("images/ball.svg");
}

#message{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    font-size: 2rem;
    font-weight: 700;
    color: #aaaaaa;
    font-family:'Courier New', Courier, monospace;
    background-color: #222222dd;
    z-index: 1;
}
.brick{
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    margin-top: 36px;
  
}

.header div {
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    color: #aaaaaa;    
}
